@charset 'UTF-8';
/*===============================
    余白設定

    @NOTE: どんどん増えそうなので・・・配列管理を止めました。
    また、一括置換の可能性も捨てきれないので変数化しています。
================================*/
$margin-px-4:  4px;
$margin-px-8:  8px;
$margin-px-12: 12px;
$margin-px-16: 16px;
$margin-px-20: 20px;
$margin-px-24: 24px;
$margin-px-32: 32px;
$margin-px-40: 40px;
$margin-px-48: 48px;
$margin-px-56: 56px;
$margin-px-64: 64px;
$margin-px-72: 72px;
$margin-px-80: 80px;
$margin-px-96: 96px;
$margin-px-104: 104px;
$margin-px-112: 112px;
$margin-px-120: 120px;
$margin-px-160: 160px;
$margin-px-240: 240px;
$margin-px-320: 320px;
