@import 'margin';

/*
style.cssを移行中
*/

// =========================共通パーツ=================================

.c-heading1 {
    font-weight: normal;
    font-size: 56px;
    border-bottom: 1px solid #000;
    padding: $margin-px-12;
}

/*           =========================topページ=================================*/

.albemTop {
    &__mainImg {
        width: 45%;
        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
            -webkit-filter: blur(0);
            filter: blur(0);
            transition: .5s ease-in-out;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        }

        &:hover {
            img {
                -webkit-filter: blur(3px);
                filter: blur(3px);
                -webkit-transition: .3s ease-in-out;
                transition: .5s ease-in-out;
            }
        }
    }

    &Info {
        background-color: #000;
        width: 100%;
        height: 400px;
        position: relative;
        margin-top: $margin-px-96;

        &Tab {
            /*タブ切り替え全体のスタイル*/
            padding-bottom: $margin-px-80;
            background-color: #fff;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
            width: 900px;
            margin: auto;
            position: absolute;
            top: 300px;
            left: 270px;
            border: solid 3px #fff;

            /*タブのスタイル*/
            &__item {
                width: calc(100%/3);
                height: 50px;
                border-bottom: 3px solid #000;
                background-color: #fff;
                line-height: 50px;
                font-size: 16px;
                text-align: center;
                color: #565656;
                display: block;
                float: left;
                text-align: center;
                font-weight: bold;
                transition: all 0.2s ease;

                &:hover {
                    opacity: 0.75;
                }
            }

            &__content {
                /*タブ切り替えの中身のスタイル*/
                display: none;
                padding: 40px 40px 0;
                clear: both;
                overflow: hidden;
                }

            /*ラジオボタンを全て消す*/
            input[name="tab_item"] {
                display: none;
            }

            /*選択されているタブのコンテンツのみを表示*/
            #news:checked ~ #news-content,
            #history:checked ~ #history-content {
                display: block;
            }

            /*選択されているタブのスタイルを変える*/
            input:checked + .albemTopInfoTab__item {
            background-color: #000;
            color: #fff;
            }
        }
    }

    &Artwork {
        width: 980px;
        margin: $margin-px-320 auto 0;

        &__wrapper {
            display: flex;
            margin-top: $margin-px-80;

            img {
                width: 20%;
                flex-direction: column;
                position: relative;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
            }

            &--first {
                position: absolute;
                top: 0;
                left: 60px;
            }

            &--second {
                position: absolute;
                top: 0;
                left: 640px;
            }

            &--third {
                position: absolute;
                top: 0;
                left: 200px;
            }
        }
    }

    &Prize {
        width: 980px;
        margin: $margin-px-160 auto 0;
        position: relative;
        height: 900px; /*仮おき*/

        &__background {
            background-color: #000;
            width: 1080px;
            height: 450px;
            position: absolute;
            top: 100px;
            left: -400px;
        }

        &__accordion {
            background-color: #fff;
            width: 780px;
            height: 500px;
            position: absolute;
            top: 200px;
            left: 100px;
            overflow: scroll;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

            &Content {
                list-style: none;
                font-size: 24px;
                padding: 0 $margin-px-56;

            }
            &Item {
                border: solid 1px #000;
                position: relative;
                margin: $margin-px-80 0;
                padding: $margin-px-12 $margin-px-8;

                &--toggle {
                    display: block;

                    &:after {
                        position: absolute;
                        top: 37px;
                        right: 15px;
                        margin-top: -24px;
                        content: '>';
                        font-size: 24px;
                        font-weight: bold;
                        -moz-transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                        -moz-transition: all, 0.25s, linear;
                        -o-transition: all, 0.25s, linear;
                        -webkit-transition: all, 0.25s, linear;
                        transition: all, 0.25s, linear;
                    }
                }

                .ac-active {
                    &:after {
                        -moz-transform: translate(0, 50%);
                        -ms-transform: translate(0, 50%);
                        -webkit-transform: translate(0, 50%);
                        transform: translate(0, 50%);
                        -moz-transform: rotate(-90deg);
                        -ms-transform: rotate(-90deg);
                        -webkit-transform: rotate(-90deg);
                        transform: rotate(-90deg);
                    }
                }

                &--child {
                    display: none;
                    list-style: none;
                    padding: 0 $margin-px-40;

                    li {
                        margin: $margin-px-12 0;
                        padding-left: $margin-px-8;
                        border-bottom: dotted 1px #000;
                    }
                }
            }
        }
    }
}

/*           =========================画像スライダー=================================*/

.albemSlider {
    position: relative;
    height: 500px;
    margin: 50px;

    &__slides {
        overflow: hidden;
        position: absolute;
        top: 0%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 500px;
        width: 500px;
    }

    &__inner {
        position: absolute;
        top: 0;
        width: 100%;

        img {
            display: block;
            height: 500px;
            max-width: 500px;
            position: absolute;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
        }
    }

    &__prev, &__next {
        color: #000;
        font-weight: bold;
        position: absolute;
        top: 250px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        text-decoration: none;
        text-align: center;
        height: 100%;
        width: 44px;
        transition: all  1s ease;

        span {
            position: absolute;
            top: 250px;
        }

        &:hover {
            background: rgba($color: #333, $alpha: .05);
            transition: all 1s ease-in-out;
        }
    }

    &__prev {
        left: 0;
    }

    &__next {
        right: 0;
    }

    &__nav {
        position: absolute;
        bottom: 5px;
        left: 0;
        text-align: center;
        width: 100%;

        a {
            background: #ccc;
            display: inline-block;
            margin: 0 5px;
            border-radius: 50%;
            height: 15px;
            width: 15px;

            &.active {
                background: #333;
                cursor: default;
            }
        }
    }
}

/*           =========================画像一覧=================================*/

.albemArtworkList {
    padding-top: $margin-px-56;

    &__imgWrapper {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
        align-content: space-around;

        img {
            width: 280px;
            margin-top: 100px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
        }
    }

    &__title {
        font-weight: normal;
        font-size: 56px;
        border-bottom: 1px solid #000;
        padding: $margin-px-12;
    }

    &__artworks {
        margin-top: 300px;
        width: 1080px;
        margin: auto;
    }

    &__paging{
        list-style: none;
        overflow: hidden;
        margin: 0 auto;
        margin-top: $margin-px-96;
        padding: 0 0 $margin-px-56;
        text-align: center;
        width: 100%;
        font-size: 24px;

        li{
            display: inline-block;
            margin: $margin-px-4 $margin-px-8;
            padding: $margin-px-4 $margin-px-8;
            transition: all  1s ease;

            &:hover {
                background-color: #000;
                color: #fff;
                transition:  all 1s ease-in-out;
            }

            &.active{
                background-color: #000;
                color: #fff;
            }
        }

    }
}

/*           =========================フッター=================================*/

footer {
    text-align: center;
    background: #333;
    color: white;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
